html
{
}

body
{
    background: url('https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_1280.jpg') no-repeat center center;
    min-height: 100%;
    background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: flex-start;
	
	position: absolute;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

.column
{
	background: #eee;
	border: none;
	border-radius: 3px;
	
	min-width: 250px;
	max-width: 250px;
	max-height: calc(100% - 44px);
	
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 12px;
	
	overflow: hidden;
}

/*----------------------------------------------*/

.column__title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	
	margin: 0 0 10px;
}

.column__title_new
{
	background: #fff;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;

	display: block;
	margin: 7px 0;
	padding: 10px 12px;
	min-height: 20px;
	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

.column__title__input
{
	border: none;
	outline: none;
	
	display: inline-block;
	width: 225px;
	
	padding: 0;
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/*----------------------------------------------*/

.column__wrap
{
	height: auto;
	width: 265px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 30px;
}

.column__card
{
	background: #fff;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;

	display: block;
	margin: 7px 0;
	padding: 10px 12px;
	min-height: 20px;
	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	
	overflow: hidden;
	z-index: 50;
}

.column__input
{
	border: none;
	outline: none;
	
	display: inline-block;
	width: 225px;
	height: 60px;
	
	padding: 0;
	padding-right: 30px;
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/*----------------------------------------------*/

.button
{
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
	
	color: #aaa;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 14px;
	
	margin: 0;
	padding: 0;
}

.button__plus
{
	font-size: 36px;
	position: relative;
	top: 8px;
	
	margin: 0 3px 0 0;
	padding: 0;
}

.button_add
{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 600;
	
	background: #5b5;
	border: none;
	border-radius: 3px;
	color: #fff;
	
	display: inline-block;
	width: 150px;
	height: 30px;
	padding: 0 5px;
	margin: 0;
}

.button_close
{
	font-size: 44px;
	font-weight: 100;
	color: #aaa;
	position: relative;
	left: 65px;
	top: 10px;
	border: none;
	background: rgba(0, 0, 0, 0);
	
	display: inline-block;
	width: 40px;
}